<!-- 基础文件 -->
<script src="../../../static/common/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../static/common/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<!-- H+文件 -->
<script src="../../../static/common/hplus/js/content.min.js?v=1.0.0"></script>
<!-- 分页文件 -->
<script src="../../../static/common/page.js"></script>
<script src="../../../static/common/formate.js"></script>
<script>
    //查询会员显示数据
    $("#select").off().click(function () {
        var member_card=$("#membercard").val();
        $.ajax({
            type:"post",
            url:"{:url('admin/Memberform/showdata')}",
            dataType:"json",
            data:{member_card:member_card},
            success:function(data){
                if (data) {
                    $("#showid").val(data.id);
                    $("#member_card").val(data.member_card);
                    $("#member_name").val(data.member_name);
                    $("#email").val(data.email);
                    $("#issue").val(data.issue);
                    $(".sex").each(function () {
                        if(data.sex==$(this).val()){
                            $(this).prop('checked','checked');
                        }
                    });
                    $("#phone").val(data.phone);
                    $("#pay_money").val(data.money);
                    $("#time").val(data.end_time);
                    $(".pay_method").each(function () {
                        if(data.pay==$(this).val()){
                            $(this).prop('selected','selected');
                        }
                    });
                    $(".province").each(function () {
                        if(data.provinceid==$(this).val()){
                            $(this).prop('selected','selected');
                        }
                    });
                    $(".card_type").each(function () {
                        if(data.card_type==$(this).val()){
                            $(this).prop('selected','selected');
                        }
                    });
                    $("#consultant").val(data.consultant);
                    $("#identity_card").val(data.identity_card);
                }else{
                    $("#result-msg").html("该用户不存在");
                    $(".result").show();
                    $("#resbtn").click(function() {
                        $(".result").hide();
                    })
                }
            }
        })
    })
    //挂失操作
    $("#loss").off().click(function () {
        $(".losscheckfail").hide();
        $("#formcheck")[0].reset();
        $("#isdel").show();
        $("#sure").off().click(function () {
            $("#isdel").hide();
            $("#title").html("挂失操作");
            var cardname=$("#member_card").val();
            $("#m_c").val(cardname);
            $("#normalbox").show();
            $("#nsend").click(function () {
                var id=$("#showid").val();
                var pwd=$(password).val();
                var result=checkp(id,pwd);
                if(result){
                    $.ajax({
                        url: "{:url('admin/Memberform/loss')}",
                        type: 'post',
                        dataType: 'json',
                        data: {id:id},
                        success:function(data){
                            if (data) {
                                $("#normalbox").hide();
                                $("#result-msg").html("操作成功");
                                $("#result").show();
                            }else{
                                $("#normalbox").hide();
                                $("#result-msg").html("操作失败");
                                $("#result").show();
                            }
                        }
                    })
                }else{
                    $(".losscheckfail").show();
                }
            })
        })
    })
    //换卡操作
    $("#replen").off().click(function () {
        $(".replensuccess").hide();
        $(".replenfail").hide();
        $("#isdel").show();
        $("#sure").off().click(function () {
            $("#isdel").hide();
            var data=$("#member_card").val();
            $("#member_c").val(data);
            var id=$("#showid").val();
            $(".updateid").val(id);
            $("#pop-up").show();
            //验证密码是否正确
            $("#pwd").blur(function () {
                var pwd=$(this).val();
                var result=checkp(id,pwd);
                if(result){
                    $(".replensuccess").show();
                    $("#new_card").removeAttr("disabled");
                }else{
                    $("#new_card").attr("disabled","disabled");
                    $(".replenfail").show();
                }
            })
            $("#send").off().click(function () {
                if($("#new_card").attr("disabled")){
                    //未验证密码进行提交的提示
                    $("#result-msg").html("该操作不可用");
                    $("#result").show();
                }else {
                    var data = $("#formlist").serialize();
                    $.ajax({
                        url: "{:url('admin/Memberform/replen')}",
                        type: 'post',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            if (data.code == 1) {
                                $("#pop-up").hide();
                                $("#result-msg").html(data.msg);
                                $("#result").show();
                            } else {
                                $("#pop-up").hide();
                                $("#result-msg").html(data.msg);
                                $("#result").show();
                            }
                        }
                    })
                }
            })
        })
    })
    //退卡即删除
    $("#drawal").off().click(function () {
        $("#isdel").show();
        $("#sure").off().click(function () {
            $("#isdel").hide();
            $("#title").html("退卡操作");
            var cardname=$("#member_card").val();
            $("#m_c").val(cardname);
            $("#normalbox").show();
            $("#nsend").click(function () {
                var id=$("#showid").val();
                var pwd=$(password).val();
                var result=checkp(id,pwd);
                if(result){
                    $.ajax({
                        url: "{:url('admin/Memberform/delete')}",
                        type: 'post',
                        dataType: 'json',
                        data: {id:id},
                        success:function(data){
                            if (data.code==1) {
                                $("#normalbox").hide();
                                $("#result-msg").html("操作成功");
                                $("#result").show();
                            }else{
                                $("#normalbox").hide();
                                $("#result-msg").html("操作失败");
                                $("#result").show();
                            }
                        }
                    })
                }else{
                    $(".losscheckfail").show();
                }
            })
        })
    })
    //续卡操作
    $("#renewal").off().click(function () {
        $(".renewalsuccess").hide();
        $(".renewalfail").hide();
        $("#isdel").show();
        $("#sure").off().click(function () {
            $("#isdel").hide();
            //显示原到期时间
            var time=$("#time").val();
            $("#e_time").val(time);
            $("#e_time2").val(time);
            //显示会员卡类型
            var type=$("#card_type").val();
            $("#cardtype").val(type);
            $("#cardtype2").val(type);
            //记录会员名字信息
            var name=$("#member_name").val();
            $("#membername2").val(name);
            //显示会员卡号
            var card=$("#member_card").val();
            $("#mcard").val(card);
            $("#mcard2").val(card);
            //显示弹窗
            $("#cardpro-up").show();
            //验证密码是否正确
            $("#pwdd").blur(function () {
                var id=$("#showid").val();
                var pwd=$(this).val();
                var result=checkp(id,pwd);
                if(result){
                    $("#money").removeAttr("disabled");
                    $("#pay").removeAttr("disabled");
                    $("#end_time").removeAttr("disabled");
                    $(".renewalsuccess").show();
                }else{
                    $("#money").attr("disabled","disabled");
                    $("#pay").attr("disabled","disabled");
                    $("#end_time").attr("disabled","disabled");
                    $(".renewalfail").show();
                }
            })
            //续卡操作
            $("#sendre").off().click(function () {
                if($("#money").attr("disabled")){
                    //未验证密码进行提交的提示
                    $("#result-msg").html("该操作不可用");
                    $("#result").show();
                }else{
                    var id=$("#showid").val();
                    $("#mid").val(id);
                    var data=$("#formmsg").serialize();
                    renewal(data);
                }
            })
        })
    })
    //会员卡管理验证密码操作
    function checkp(id,pwd){
        var flag=true;
        $.ajax({
            url: "{:url('admin/Memberform/checkpw')}",
            type: 'post',
            dataType: 'json',
            async:false,
            data:{
                id:id,
                pwd:pwd
            },
            success: function (data) {
                if(data){
                    flag=true;
                }else{
                    flag=false;
                }
            }
        })
        if(flag){
            return 1;
        }else{
            return 0;
        }
    }
    //续卡操作函数
    function renewal(data){
        $.ajax({
            url: "{:url('admin/Memberform/renewal')}",
            type: 'post',
            dataType: 'json',
            data:data,
            success: function (data) {
                if(data){
                    $("#cardpro-up").hide();
                    $("#result-msg").html(data.msg);
                    $("#result").show();
                }else{
                    $("#cardpro-up").hide();
                    $("#result-msg").html(data.msg);
                    $("#result").show();
                }
            }
        })
    }
    //是否删除弹窗关闭
    $("#cancel").click(function () {
        $("#isdel").hide();
    })
    //操作弹窗关闭
    $(".ccance").click(function () {
        $(".normalbox").hide();
    })
    $(".ccan").click(function () {
        $(".pop-up").hide();
    })
    $(".ccancel").click(function () {
        $(".cardpro").hide();
    })
    // 结果弹窗关闭
    $("#resbtn").click(function () {
        $("#result").hide();
        $("#resbtn").click(function() {
            $("#formdata")[0].reset();
        });
    })
</script>