<!-- 基础文件 -->
<script src="../../../static/common/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../static/common/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../../../static/common/hplus/js/content.min.js?v=1.0.0"></script>
<!-- 分页文件 -->
<script src="../../../static/common/page.js"></script>
{include file="Common/jsformcheck"}
<script>
    var totalNum,pageSize,totalPage;
    function getData(page){
        $.ajax({
            type:'get',
            url:"{:url('admin/Areaform/arealistshow')}",
            data:{page:page},
            dataType:"json",
            success:function(data) {
                if (data) {
                    totalNum = data[0].totalNum;//总记录数
                    pageSize = data[0].pageSize;//每页数量
                    totalPage = data[0].totalPage;//总页数
                    var str = '';
                    for (var i = 1; i < data.length; i++) {
                        str += "<tr id=tr_" + data[i].id + ">";
                        str += "<td><input type='checkbox' class='checkbox'code=" + data[i].id + "></td>";
                        str += "<td>" + data[i].id + "</td>"
                        str += "<td>" + data[i].areaname + "</td>";
                        str += "<td>" + data[i].areaitem + "</td>";
                        str += "<td>" + data[i].money + "</td>";
                        str += "<td>" + data[i].create_time + "</td>";
                        str += "<td>" + data[i].update_time + "</td>";
                        str += "<td>" + data[i].operator + "</td>";
                        str += "<td><a class='fa fa-pencil update' code='" + data[i].id + "'></a><a class='fa fa-trash delete' code='" + data[i].id + "'></a></td>";
                        str += "</tr>";
                    }
                    $("#tbody").html(str);
                    var datacount = totalNum;
                    $("#datacount").html(datacount);
                    $(".delete").off().click(function () {
                        var id = $(this).attr('code');
                        del(id);//调用删除数据函数
                    });
                    $(".update").off().click(function () {
                        var id = $(this).attr('code');
                        $("#formlist").find("input").removeClass("error");
                        validator("#formlist").resetForm();
                        updateshow(id);//调用修改数据函数
                    });
                    //获取分页样式
                    if (page == 1) {
                        getPageBar();
                        $("#table-footer").show();
                    }
                } else {
                    var str = '';
                    str += "<tr><td colspan='9'>数据请求失败</td></tr>";
                    $("#tbody").html(str);
                    $("#table-footer").hide();
                }
            }
        })
    }
    $(function(){
        getData(1);
    })
    //添加操作
    $("#add").off().click(function () {
        $("#formlist").find("input").removeClass("error");
        validator("#formlist").resetForm();
        $("#title").html("添加场地");
        $("#normalbox").show();
        $("#formlist")[0].reset();
        $(".addbtn").off().click(function(){
            if(validator("#formlist").form()){
                var data=$("#formlist").serialize();
                $.ajax({
                    type:"post",
                    url:"{:url('admin/Areaform/listadd')}",
                    dataType:"json",
                    data:data,
                    success:function(data){
                        if (data.code==1) {
                            $(".normalbox").hide();
                            $("#result-msg").html(data.msg);
                            $(".result").show();
                            $("#resbtn").click(function() {
                                getData(1);
                            });
                        }else {
                            $(".normalbox").hide();
                            $("#result-msg").html(data.msg);
                            $(".result").show();
                            $("#resbtn").click(function () {
                                $("#result").hide();
                            })
                        }
                    }
                })
            }
        })
    })
    //修改操作显示数据
    function updateshow(id){
        $("#title").html("修改场地");
        $("#formlist")[0].reset();
        $(".updateid").val(id);
        $.ajax({
            type:"post",
            url:"{:url('admin/Areaform/listupdateshow')}",
            dataType:"json",
            data:{id:id},
            success:function(data){
                if (data) {
                    $("#areaname").val(data.areaname);
                    $("#areaitem").val(data.areaitem);
                    $("#money").val(data.money);
                    $("#normalbox").show();
                    $(".updatebtn").off().click(function(){
                        if(validator("#formlist").form()){
                            update();
                        }
                    })
                }else{
                    $("#result-msg").html("该操作不可用");
                    $(".result").show();
                    $("#resbtn").click(function() {
                        $(".result").hide();
                    })
                }
            }
        })
    }
    // 修改操作
    function update(){
        var data=$("#formlist").serialize();
        $.ajax({
            type:"post",
            url:"{:url('admin/Areaform/listupdate')}",
            dataType:"json",
            data:data,
            success:function(data){
                if (data.code==1) {
                    $(".normalbox").hide();
                    $("#result-msg").html(data.msg);
                    $(".result").show();
                    $("#resbtn").click(function() {
                        $(".result").hide();
                        var p=1;
                        $("#pagelist ul li").each(function () {
                            if($(this).hasClass("on")){
                                p=$(this).html();
                            }
                        })
                        getData(p);
                    });
                }else {
                    $(".normalbox").hide();
                    $("#result-msg").html(data.msg);
                    $(".result").show();
                    $("#resbtn").click(function() {
                        $(".result").hide();
                    })
                }
            }
        })
    }
    // 删除操作
    function del(id){
        $("#isdel").show();
        $("#sure").off().click(function () {
            $("#isdel").hide();
            $.ajax({
                url: "{:url('admin/Areaform/listdelete')}",
                type: 'post',
                dataType: 'json',
                data: {id:id},
                success:function(data){
                    if (data.code==1) {
                        $("#result-msg").html(data.msg);
                        $("#result").show();
                        $("#resbtn").click(function() {
                            $("#result").hide();
                            var p=1;
                            $("#pagelist ul li").each(function () {
                                if($(this).hasClass("on")){
                                    p=$(this).html();
                                }
                            })
                            getData(p);
                        });
                    }else{
                        $("#result-msg").html(data.msg);
                        $("#result").show();
                        $("#resbtn").click(function () {
                            $("#result").hide();
                        })
                    }
                }
            })
        })
    }
    //批量删除操作
    $("#deletesome").off().click(function(){
        $("#isdel").show();
        $("#sure").off().click(function () {
            $("#isdel").hide();
            var checkboxs=$(".checkbox");
            var arr=[];
            for (var i = 0; i < checkboxs.length; i++) {
                if(checkboxs.eq(i).prop("checked")){
                    var ids=checkboxs.eq(i).attr('code');
                    arr.push(ids)
                }
            };
            $.ajax({
                url: "{:url('admin/Areaform/listdeletesome')}",
                type: 'post',
                dataType: 'json',
                data: {ids:arr},
                success:function(data){
                    if (data.code==1) {
                        $("#result-msg").html(data.msg);
                        $("#result").show();
                        $("#resbtn").click(function() {
                            getData(1);
                        });
                    }else{
                        $("#result-msg").html(data.msg);
                        $("#result").show();
                        $("#resbtn").click(function () {
                            $("#result").hide();
                        })
                    }
                }
            })
        })
    })
    //动态搜索功能
    $("#search").off().keyup(function () {
        $("#searchlist").html('');
        var data=$(this).val().trim();
        $.ajax({
            url: "{:url('admin/Areaform/listsearch')}",
            type: 'post',
            dataType: 'json',
            data: {data:data},
            success:function(data){
                if(data){
                    var str="";
                    if(data.length>5){
                        data.length=5;
                    }
                    for(var i=0;i<data.length;i++){
                        str+="<li code='"+data[i].id+"'>"+data[i].areaname+"</li>";
                    }
                    var swidth=$("#search").width()+24;
                    $("#search-msg").css("width",swidth);
                    $("#search-msg").show();
                    $("#searchlist").html(str);
                    //改变列表的颜色
                    $("#searchlist li").hover(function(){
                        $(this).css("background-color",'#e7e7e7');
                    }, function () {
                        $(this).css("background-color",'#fff');
                    })
                    $("#searchlist li").click(function () {
                        var msg=$(this).html();
                        $("#search").val(msg);
                        $("#search-msg").hide();
                    })
                }
            }
        })
    })
    window.onresize = function(){
        var swidth=$("#search").width()+24;
        $("#search-msg").css("width",swidth);
    }
    //搜索按钮点击开始搜索
    $("#search-btn").off().click(function () {
        var data=$("#search").val();
        $.ajax({
            url: "{:url('admin/Areaform/listsearch')}",
            type: 'post',
            dataType: 'json',
            data: {data:data},
            success: function (data) {
                if(data){
                    var str='';
                    for(var i=0;i<data.length;i++){
                        str += "<tr id=tr_" + data[i].id + ">";
                        str += "<td><input type='checkbox' class='checkbox'code=" + data[i].id + "></td>";
                        str += "<td>" + data[i].id + "</td>"
                        str += "<td>" + data[i].areaname + "</td>";
                        str += "<td>" + data[i].areaitem + "</td>";
                        str += "<td>" + data[i].money + "</td>";
                        str += "<td>" + data[i].create_time + "</td>";
                        str += "<td>" + data[i].update_time + "</td>";
                        str += "<td>" + data[i].operator + "</td>";
                        str += "<td><a class='fa fa-pencil update' code='" + data[i].id + "'></a><a class='fa fa-trash delete' code='" + data[i].id + "'></a></td>";
                        str += "</tr>";
                    }
                    str+="<tr><td colspan='9'><a  class='rehome'>返回第一页</a></td></tr>";
                    $("#tbody").html(str);
                    $("#table-footer").hide();
                    $(".rehome").off().click(function(){
                        getData(1);
                    })
                    $(".delete").off().click(function(){
                        var id=$(this).attr('code');
                        del(id);//调用删除数据函数
                    });
                    $(".update").off().click(function(){
                        var id=$(this).attr('code');
                        $("#formlist").find("input").removeClass("error");
                        validator("#formlist").resetForm();
                        updateshow(id);//调用修改数据函数
                    });
                }else{
                    var str='';
                    str+="<tr><td colspan='9'>数据不存在</td></tr>";
                    str+="<tr><td colspan='9'><a  class='rehome'>返回第一页</a></td></tr>";
                    $("#tbody").html(str);
                    $("#table-footer").hide();
                    $(".rehome").off().click(function(){
                        getData(1);
                    })
                }
            }
        })
    })
    //操作弹窗关闭
    $(".ccancel").click(function () {
        $("#normalbox").hide();
    })
    //是否删除弹窗关闭
    $("#cancel").click(function () {
        $("#isdel").hide();
    })
    // 结果弹窗关闭
    $("#resbtn").click(function () {
        $("#result").hide();
    })
</script>