<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页面</title>
    <!--H+框架样式-->
    <link href="../../../static/common/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../../../static/common/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../../../static/common/hplus/css/animate.min.css" rel="stylesheet">
    <link href="../../../static/common/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <!--自定义样式-->
    <link href="../../../static/admin/css/common.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>详情页面</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <td colspan="4">预约单号：{$data[0]['order_id']}</td>
                            </tr>
                            <tr>
                                <th>课程名称</th>
                                <th>课程教练</th>
                                <th>课程星期</th>
                                <th>课程时间</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            {foreach $data as $k=>$v}
                            <tr>
                                <td>{$v.course_name}</td>
                                <td>{$v.course_coach}</td>
                                <td>{$v.course_week}</td>
                                <td>{$v.course_time}</td>
                            </tr>
                            {/foreach}
                            <tr>
                                <td colspan="5"><a href="{:url('areaform/areaorder')}">返回课程预约记录页面</a> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
